.screen{
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 3fr 3fr;
    background-color:cornflowerblue;
}
.message{
    height: 650px;
    background: seashell;
    padding: 10px;
    margin: 30px;
    
    
}
 h3{
    align-items: center;
    position: absolute;
    top: 3%;
    left: 1050px;
    
}
.no-message{
    position: absolute;
    top: 1%; right: 5%;
    padding: 10px;
    margin: 30px;
}