.card{
    margin: 30px;
    border: 2px blue solid;
    padding: 10px;
    cursor: pointer;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.posts{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h4{
    margin-left: 10px;
}
.image-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: green 2px solid;
    margin: 15px;
    margin-right: 30px;

}
.colour{
    width: 60px;
    height: 20px;padding: 3px;
    position: absolute;
    top: 0;
    right: 0;
}
.online{
    background: green;color: blanchedalmond;
}
.offline{
    background: red;color: blanchedalmond;
}
p{
    margin: 0;
}